#set($attributeMap={'1':'草本植物','2':'木本植物','3':'水生植物','4':'室内植物','5':'水培植物'})
#set($grpMap={'1':'苔藓植物','2':'蕨类植物','3':'裸子植物','4':'被子植物'})
#set($viewAreaMap={'1':'多肉植物','2':'观花植物','3':'观叶植物'})
#set($fitEnvMap={'1':'室内','2':'室外'})
#set($worthMap={'1':'观赏','2':'吸尘','3':'空气净化'})
#set($sizeMap={'1':'1c','2':'2c','3':'3c'})
#set($curingEasyMap={'1':'易养','2':'较易养','3':'较难养','4':'难养'})
#set($zsStyleMap={'1':'东南亚','2':'地中海','3':'北欧','4':'中式','5':'日式','6':'简约'})