<html>
<head>
<title>场馆列表</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="${basePath}favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link type="text/css" rel="stylesheet" href="${basePath}bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="${basePath}ace/css/font-awesome.min.css" />
<link rel="stylesheet" href="${basePath}ace/google/css.css" /> 
<link type="text/css" rel="stylesheet" href="${basePath}ace/ace.min.css" />
<!--[if IE 7]>
<link rel="stylesheet" href="${basePath}ace/css/font-awesome-ie7.min.css" />
<![endif]-->

<!--[if !IE]> -->
<script src="${basePath}jquery/2.0.3/jquery.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="${basePath}jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
	window.jQuery || document.write("<script src='${basePath}jquery/2.0.3/jquery.min.js'>"+"<"+"/script>");
</script>
<script src="${basePath}bootstrap/js/bootstrap.min.js"></script>
<script src="${basePath}ace/ace.min.js"></script>
<script src="${basePath}ace/ace-elements.min.js"></script>
<style type="text/css">
	td,th{
		font-size: 13px;
	}
</style>
</head>#parse('WEB-INF/include/constant.vm')
#set($isFlowerMenu=true)#set($isFlower=true)
<body class="navbar-fixed breadcrumbs-fixed">
#parse('WEB-INF/pages/admin/head.vm')
<div id="main-container" class="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>
	<div class="main-container-inner">
		#parse('WEB-INF/pages/admin/sidebar.vm')
		<div class="main-content">
			#parse('WEB-INF/pages/admin/mainHomeMenu.vm')
			<div class="page-content">
				<div class="page-header">
					<div class="col-xs-12">
						<h3 class="header smaller lighter blue pull-left">图片设置</h3>
						<h5 class="header smaller lighter blue pull-right"><a class="btn btn-xs btn-default" href="${basePath}admin/flower/modify.xhtml">添加</a></h5>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">
									<div class="table-responsive">
										<table id="sample-table-1" class="table table-striped table-bordered table-hover">
										   <thead>
										      <tr>
										      	 <th>图片</th>
										         <th>排序</th>
										         <th>设置为Logo</th>
										         <th>删除</th>
										      </tr>
										   </thead>
										   <tbody>
										   	  #foreach($img in $imgList)
										      <tr>
										      	 <td><img src="${imagePath}${img.imgName}" height="120" width="120"></td>
										         <td><input type="text" value="${img.sortNum}" onchange="setSortNum(${img.id},this.value)" style="width: 80px;"></td>
										         <td><input type="button" onclick="setLogo(${img.id})" value="设置为Logo"></td>
										         <td><input type="button" onclick="delflowerImg(${img.id})" value="删除"></td>
										      </tr>
										      #end
										   </tbody>
										</table>
										#parse('WEB-INF/include/pageUtil.vm')
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<script type="text/javascript">
function setSortNum(id,sortNum){
	jQuery.post("${basePath}admin/flower/setflowerImgSortNum.xhtml", {"id":id,'sortNum':sortNum},function(result){
		if(result.success){
			alert('设置成功');
		}else {
			alert(result.msg);
		}
	});
}
function setLogo(id){
	jQuery.post("${basePath}admin/flower/setLogo.xhtml", {"id":id},function(result){
		if(result.success){
			alert('设置成功');
		}else {
			alert(result.msg);
		}
	});
}
function delflowerImg(id){
	if(!confirm('确认删除吗？')){
		return;
	}
	jQuery.post("${basePath}admin/flower/delflowerImg.xhtml", {"id":id},function(result){
		if(result.success){
			alert('删除成功');
			location.href = location.href ;
		}else {
			alert(result.msg);
		}
	});
}
</script>
</body>
</html>