<html>
<head>
<title>添加/修改</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="${basePath}favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link type="text/css" rel="stylesheet" href="${basePath}bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" href="${basePath}ace/css/font-awesome.min.css" />
<link rel="stylesheet" href="${basePath}ace/google/css.css" /> 
<link type="text/css" rel="stylesheet" href="${basePath}ace/ace.min.css" />
<!--[if IE 7]>
<link rel="stylesheet" href="${basePath}ace/css/font-awesome-ie7.min.css" />
<![endif]-->

<!--[if !IE]> -->
<script src="${basePath}jquery/2.0.3/jquery.min.js"></script>
<!-- <![endif]-->

<!--[if IE]>
<script src="${basePath}jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
	window.jQuery || document.write("<script src='${basePath}jquery/2.0.3/jquery.min.js'>"+"<"+"/script>");
</script>
<script src="${basePath}bootstrap/js/bootstrap.min.js"></script>
<script src="${basePath}ace/ace.min.js"></script>
<script src="${basePath}ace/ace-elements.min.js"></script>
<style type="text/css">
	td,th{
		font-size: 13px;
	}
</style>
</head>#parse('WEB-INF/include/constant.vm')
#set($isFlowerMenu=true)#set($isFlower=true)
<body class="navbar-fixed breadcrumbs-fixed">
#parse('WEB-INF/pages/admin/head.vm')
<div id="main-container" class="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>
	<div class="main-container-inner">
		#parse('WEB-INF/pages/admin/sidebar.vm')
		<div class="main-content">
			#parse('WEB-INF/pages/admin/mainHomeMenu.vm')
			<div class="page-content">
		<form class="form-horizontal" role="form" id="dbform">
			<div class="form-group">
				<input type="hidden" name="id" value="$!flowerAd.id"/>	
				<input type="hidden" name="imgName" id="imgName" value="$!flowerAd.imgName"/>
				<input type="hidden" name="tag" id="tag" value="$!{flowerAd.tag}$!{params.tag}"/>
			</div>
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">上传图片</label>
				<img id="img_pic" #if($flowerAd.imgName)src="${imagePath}${flowerAd.imgName}"#{else}src="${basePath}images/upbg.jpg"#end width="110px;" height="100px;" onclick="getFileImg('pic')"/>
				<input type="file" name="pic" style="display:none"  id="pic" onchange="uploadImg('pic','imgName')"/>
			</div>
			#if($link)
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">链接</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="link"  value="$!flowerAd.lnik">
				</div>
			</div>
			#end
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">排序</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="sortNum" style="width:100px;" #if($!flowerAd)value="$!flowerAd.sortNum"#{else}value="1"#end>
				</div>
			</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-info" id="sbtForm">保   存</button>
		</div>
	   </form>
	</div>
</div>
</div>
</div>
<script type="text/javascript">
var datas={};
$(document).ready(function(){
	$('#sbtForm').click(function(){
		if($('#logo').val()==''){
			alert('请上传图片');
			return;
		}
		jQuery.post("${basePath}admin/flowerAd/save.xhtml", $("#dbform").serialize(),function(result){
			if(result.success){
				alert('保存成功');
				document.location.href='${basePath}admin/flowerAd/list.xhtml?tag=$!{flowerAd.tag}$!{params.tag}';
			}else {
				alert(result.msg);
			}
		});
	});
});
var datas={};
function getFileImg(filename){
	$('#'+filename).click();
}
function uploadImg(name, imgv){	
	var imgPath = $('#'+name).val();
    var strExtension = imgPath.substr(imgPath.lastIndexOf('.') + 1);
    if (strExtension != 'jpg' && strExtension != 'gif'
    && strExtension != 'png' && strExtension != 'bmp') {
    	alert("请选择图片文件");
        return;
    }
	var data = new FormData();
	$.each($('#'+name)[0].files, function(i, file) {
		data.append('file', file);
	});
	$.ajax({
		url:'${basePath}upload.xhtml',
		type:'POST',
		data:data,
		cache: false,
		contentType: false,    //不可缺
		processData: false,    //不可缺
		success:function(data){
		    var img = data.substring(data.indexOf('back(\'') + 6, data.indexOf('\')<'));
		    datas[name] = img;
		    $('#img_'+name).attr('src', '${imagePath}'+img);
		    $('#'+imgv).val(img);
		},error: function(XMLHttpRequest, textStatus, errorThrown) {
			alert("上传失败，请检查网络后重试:"+errorThrown);
        }
	});
}
</script>
</body>
</html>
